div#auth

  div#auth-form

    h2= 'VIMP Tank Battle'

    div#auth-name
      span= 'Please name:'
      input#auth-name-input(type='text', name='name' maxlength='15', placeholder='Vanya')

    div#auth-team
      span= 'Please your team:'
      br
      label
        input(type='radio', name='team', value='team1')
        = 'team1'
      br
      label
        input(type='radio', name='team', value='team2')
        = 'team2'
      br
      label
        input(type='radio', name='team', value='spectators')
        = 'spectators'

    div#auth-tank
      span= 'Please your tank:'
      br
      label
        input(type='radio', name='model', value='m1')
        = 'tank'
      br
      label
        input(type='radio', name='model', value='m2')
        = 'tank2'

    div#auth-error

    input#auth-enter(type='button', autofocus, value='Enter')

    div#auth-controls
      h4= 'Управление'
      span
        b= 'W,A,S,D'
        = ' - перемещение танка'
      br
      span
        b= 'K'
        = ' - поворот пушки влево'
      br
      span
        b= 'L'
        = ' - поворот пушки вправо'
      br
      span
        b= 'U'
        = ' - пушка по центру'
      br
      span
        b= 'J'
        = ' - огонь'
      br
      br
      span
        b= 'C'
        = ' - чат/командная строка'
      br
      span
        b= 'M'
        = ' - управление игрой'
      br
      span
        b= 'TAB'
        = ' - статистика игры'
      br
      br
      span
        b= 'escape'
        = ' - сброс'
      br
      span
        b= 'enter'
        = ' - ввод'

    div#auth-link
      p
        a(href='https://github.com/lgick/VIMP-Tank-Battle') GitHub
      p &copy; VIMP
