div#auth

  div#auth-form

    h2= 'VIMP Tank Battle'

    div#auth-name.auth-field
      span= 'Name:'
      input#auth-name-input(type='text', name='name' maxlength='15', placeholder='Vanya')

    div#auth-error

    input#auth-enter(type='button', autofocus, value='Enter')

    div.auth-inform
      h4= 'Controls'
      p
        b= 'W, A, S, D'
        = ' - move the tank'
      p
        b= 'K, L'
        = ' - turn the gun'
      p
        b= 'U'
        = ' - center the gun'
      p
        b= 'J'
        = ' - fire'
      p.last
        b= 'N, P'
        = ' - switch weapon/player'
      p
        b= 'C'
        = ' - chat/command line'
      p
        b= 'M'
        = ' - menu'
      p.last
        b= 'TAB'
        = ' - stats'

    div.auth-inform
      h4= 'Command line'
      p
        b= '/name <name>'
        = ' - change nickname'
      p
        b= '/mapname'
        = ' - show current map name'
      p
        b= '/timeleft'
        = ' - time left on current map'

    div#auth-link
      p
        a(href='https://github.com/lgick/VIMP-Tank-Battle', target='_blank', rel='noopener') GitHub
      p &copy; VIMP
