div#auth

  div#auth-form

    h2= 'VIMP Tank Battle'

    div#auth-name
      span= 'Name:'
      input#auth-name-input(type='text', name='name' maxlength='15', placeholder='Vanya')

    div#auth-team
      span= 'Team:'
      br
      label
        input(type='radio', name='team', value='team1')
        = 'team1'
      br
      label
        input(type='radio', name='team', value='team2')
        = 'team2'
      br
      label
        input(type='radio', name='team', value='spectators')
        = 'spectators'

    div#auth-error

    input#auth-enter(type='button', autofocus, value='Enter')

    div.auth-inform
      h4= 'Управление'
      p
        b= 'W,A,S,D'
        = ' - перемещение танка'
      p
        b= 'K'
        = ' - поворот пушки влево'
      p
        b= 'L'
        = ' - поворот пушки вправо'
      p
        b= 'U'
        = ' - пушка по центру'
      p
        b= 'J'
        = ' - огонь'
      p
        b= 'N'
        = ' -  следующее оружие'
      p.last
        b= 'P'
        = ' - предыдущее оружие'
      p
        b= 'C'
        = ' - чат/командная строка'
      p
        b= 'M'
        = ' - управление игрой'
      p.last
        b= 'TAB'
        = ' - статистика игры'
      p
        b= 'escape'
        = ' - сброс'
      p
        b= 'enter'
        = ' - ввод'

    div.auth-inform
      h4= 'Команды'
      p
        b= '/invite <email>'
        = ' - сообщение с приглашением на почту'
      p
        b= '/name <name>'
        = ' - смена ника'
      p
        b= '/mapname'
        = ' - название карты'

    div#auth-link
      p
        a(href='https://github.com/lgick/VIMP-Tank-Battle') GitHub
      p &copy; VIMP
